---
---

@import "{{ site.theme }}";
a {
  text-decoration: none;
}

header h1 {
  margin: 0;
}

#menu {
  text-align: left;
  padding: 0px;
}
.menu .menu-item {
  display: inline-block;
}

.home .post-excerpt {
  color: #666;
}
.home .post-meta {
  font-size: 12px;
}

.listing-seperator {
  list-style: none;
}

.pageNavInvalid {
  display: none;
}
